

body {
    background-color: rgb(231, 177, 114);
}

#conteiner {
    width: 900px;
    margin: 100px auto 0;
    border: 1px green solid;
    background-color: aliceblue;
    border-radius: 40px;
}

#cacau-e-banana h1 {
    text-align: center;
}

#cacau-e-banana img {
    display: block;
    margin: auto;
    border-radius: 20px;
    width: 800px;
    height: 500px;
}

#cacau-e-banana p {
    display: block;
    text-align: right;
    color: gray;
}

#cacau-e-banana h2 {
    text-align: center;
    margin: 40px auto auto;
}

#cacau-e-banana ul {
    font-size: 20px;
    margin: 30px 0;

    
}

#cacau-e-banana li {
    border: 1px red solid;
    margin: 20px;
}